---
import { SITE_TITLE, TEMPLATE_REPO } from '../consts';
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} {SITE_TITLE}.
	<div class="footer-links">
		<a href="/blog">Blog</a>
		<a href={TEMPLATE_REPO} target="_blank" rel="noopener">Template repo</a>
		<a href="/rss.xml">RSS</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.footer-links {
		display: flex;
		justify-content: center;
		gap: 1.25em;
		margin-top: 1em;
	}
	.footer-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.footer-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
